ddgs==9.13.1
langchain_community==0.4.1
langchain_core==1.2.30
langchain_mistralai==1.1.2
langchain_openai==1.1.13
langchain_text_splitters==1.1.1
numpy==2.4.4
python-dotenv==1.2.2
Requests==2.33.1
streamlit==1.56.0
